<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Página Inicial</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>


		<h2>INICIANDO O SISTEMA EM SPRING MVC</h2>
		<h3>
			<a href="clientes" onclick=";">Clientes</a>
			<a href="vendas" onclick=";">Vendas</a>
		</h3>
	
	<div class="container"><br/>
            <div class="alert alert-success">
                <a href="#" class="close" data-dismiss="alert"
                  aria-label="close">×</a>
                <strong>Success!</strong> Está funcionando
            </div>
        </div>
	
</body>
</html>